$font-stack: 'Montserrat', sans-serif;
$primary-color: #333;
$secondary-color: #DCDCDC;
$main-color: #7acdcf;

body {
    font: 125% $font-stack;
    color: $primary-color;
    padding-top: 100px;
  }

  .navbar {
    background-color: $main-color;
    border-color: #E7E7E7;
}

.page-header {
    text-align: center;
    color: white;
}

#chatbox {
    height: 200px;
    margin: 8px;
    padding: 10px;
   // background-color: $secondary-color; 
    

}

.panel-chat{
    line-height: 1.6em !important;
}

/*.initBG { 
    background-color: $secondary-color; 
}*/