$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: rgb(190, 214, 221);

body {
    font: 125% $font-stack;
    color: $primary-color;
    padding-top: 100px;
  }

.navbar {
    color: rgb(44, 85, 133);
    height:75px;
}

.page-header {
    text-align: center;
    color: white;
}

#chatbox {
    height: 200px;
    margin: 10px;
   // background-color: $secondary-color; 
    

}

.panel-chat{
    line-height: 5em !important;
}

.initBG { 
    background-color: $secondary-color; 
}